<!DOCTYPE html>
<head>
  <title><%=typeof title == 'undefined' ? 'Proposal' : title%></title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="boxed">
  <form method="post" action="\proposal\edit" id="editProposal" enctype="multipart/form-data">
    <table align="center">
      <tr>
        <td>
          <h3>Title:</h3>
        </td>
        <td>
          <input name="title" type="text" value="<%= proposal.title %>">
        </td>
      </tr>
      <tr>
        <td>
          <h3>Abstract:</h3>
        </td>
        <td>
          <textarea name="abstract" form="editProposal" rows="4" cols="50"><%= proposal.abstract %></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Tags:</h3>
        </td>
        <td>
          <input name="tags" type="text" value="<%= proposal.tags?proposal.tags.join():'' %>">
        </td>
      </tr>
      <tr>
        <td>
          <h3>PDF:</h3>
        </td>
        <td>
          <input name="pdf" type="file">
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <input type="submit" value="Sumbit">
        </td>
      </tr>
    </table>
  </form>
</div>
<div class="boxed" style="padding: 5px">
  <form action="\panel">
    <input type="submit" value="Panel">
  </form>
  <form action="\panel\workflow">
    <input type="submit" value="Workflow">
  </form>
  <form action="\logout">
    <input type="submit" value="Logout">
  </form>
</div>
</body>
