<!DOCTYPE html>
<head>
  <title><%=typeof title == 'undefined' ? 'Admin Panel' : title%></title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="boxed">
  <div class="window">
    <h2>Supervisor Management:</h2>

  </div>
  <div class="window">
    <h2>Calendar Editor:</h2>

  </div>
  <div class="window">
    <h2>Make Notification:</h2>

  </div>
  <form id="logouter" method="post" action="logout">
    <input type="submit" value="Logout">
  </form>
</div>
</body>
