.boxed {
  align: center;
  width: auto;
  border: 5px solid green;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: seashell;
}
.window{
  align: center;
  width: auto;
  border: 2px solid salmon;
  padding: 2px;
  margin: 2px;
  text-align: center;
  background-color: #eeeeee;
}

.part {
  align: center;
  width: auto;
  border: 2px solid slateblue;
  padding: 2px;
  margin: 2px;
  text-align: center;
  background-color: khaki;
}
